.vscode/
data/
install/
build/
log/
wandb/
__pycache__/
output/
exported_models/

meshs/
outputs/
pretrained/

*.obj
*.mtl
*.urdf
*.pcd
*.ply
*.png
*.jpg


.idea/
cmake-build-release/

*.pt
*.ckpt
*.pth
*.onnx
*.ckpt

*.png
*.jpg

output/
exported_models/

